<!DOCTYPE html>
<div class="blog">

  <!--(div[class=card]>(h2>lorem5)+(h5>lorem10)+(div[class=fakeimg style="height:200px;"]>{Image})+(p>lorem))*3-->
  <div class="card">
    <a href="../blog-posts/tallin.html">
      <h2>Мемориал жертвам коммунизма в Таллине</h2>
    </a>
    <p>И тысячи падают в пыль дорог,<br>
      И тысячи мечутся вдоль дорог,<br>
      Сквозь муки, невзгоды, заботы<br>
      Находят знакомые соты.</p>
    <img src="../img/images/memorial/IMG_5828.jpg" alt=""/>
    <p>В августе 2018 года в Таллине открыли мемориальный комплекс посвящённый жертвам советской оккупации Эстонии. За
      все время коммунистического режима было репрессивно около 50 тысяч человек, 22 тысячи было расстреляно или погибло
      в заключении. Каждый 5й житель Эстонии был так или иначе репрессирован.</p>
  </div>

  <div class="card">

    <a href="../blog-posts/new_buildings.html">
      <h2>Современная малоэтажная застройка</h2>
    </a>
    <h5>Это — типичные представители современной европейской малоэтажной застройки расположенные в районах Kalamaja в
      Таллине и Stara Praga в Варшаве</h5>

    <img src="../img/images/new_buildings/IMG_5885.jpg" alt=""/>
    <p>Районы прилегающие к центру, с хорошо развитой инфраструктурой, подземными парковками, парками и всем остальным,
      что нужно для комфортной жизни. </p>
  </div>
  <div class="card">
    <a href="../blog-posts/new_visual_culture.html">
      <h2>М Ы В С Ę M غ Ҷ Ƭ Å 卞 Ę Л И .</h2>
    </a> <img src="../img/images/new_visual_culturure/IMG_6035.PNG" alt=""/>
    <p>Честно</p>
  </div>

</div>
