<!DOCTYPE html>
<div class="card">
  <h3>Follow Me</h3>
  <div id="social">
    <a href="https://instagram.com/romamartyanov"><img src="../img/social-media-icons/svg/034-instagram.svg"
                                                       alt="Instagram"></a>
    <a href="https://facebook.com/romamartyanov"><img src="../img/social-media-icons/svg/045-facebook.svg"
                                                      alt="Facebook"></a>
    <a href="https://www.linkedin.com/in/romamartyanov/"><img src="../img/social-media-icons/svg/031-linkedin.svg"
                                                              alt="LinkedIn"></a>
    <a href="https://github.com/ImmortalLamp"><img src="../img/social-media-icons/svg/039-github.svg" alt="GitHub"></a>
    <a href="https://vk.com/romamartyanov"><img src="../img/social-media-icons/svg/009-vk.svg" alt="VK"></a>
  </div>
</div>
