<!DOCTYPE html>
<script src="../js/main.js"></script>

<header >
  <ul>
    <li>
      <a href="../main-pages/main.html">Home</a>
    </li>
    <li>
      <label class="toggle-theme" id="myToggle">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </li>
  </ul>

  <div class="header">
    <div id="header_content">
      <a href="../main-pages/main.html">
        <img src="../img/images/icon.png" alt="" align="left"/>
      </a>
      <h2 align="left">Roman Martyanov</h2>
    </div>
  </div>

</header>
