<!DOCTYPE html>
<script>
  $(function () {
    $("#follow_me").load("../templates/follow-me.html");
  });
</script>

<div class="recommendations">
  <div class="card">
    <h2>About Me</h2>
    <a href="https://www.artyline.co/">
      <img src="../img/images/artyline/LOGO_NO_BG.png" alt=""/>
    </a>

    <a href="https://www.artyline.co/"><h3>FRIENDLY DESIGN FOR EVERY PRODUCT</h3></a>
  </div>

  <!--div[class=card]>h3{Popular Post}+(div>h4{Title}+div[class=fakeimg]{Image})*3-->
  <div class="card">
    <h3>Popular Post</h3>
    <div>
      <a href="../blog-posts/tallin.html">
        <h3>Мемориал жертвам коммунизма в Таллине</h3>
      </a>
      <img src="../img/images/memorial/IMG_5828.jpg" alt="Memorial"/>
    </div>

    <br>
    <hr>

    <div>
      <a href="../blog-posts/new_buildings.html">
        <h3>Современная малоэтажная застройка</h3>
      </a>
      <img src="../img/images/new_buildings/IMG_5885.jpg" alt=""/>
    </div>

    <br>
    <hr>

    <div>
      <a href="../blog-posts/new_visual_culture.html">
        <h3>М Ы В С Ę M غ Ҷ Ƭ Å 卞 Ę Л И .</h3>
      </a>
      <img src="../img/images/new_visual_culturure/IMG_6035.PNG" alt=""/>
      <p>Честно</p>
    </div>
  </div>

  <div id="follow_me"></div>
</div>
